@font-face {
  font-family: "Neue Machina";
  src: url("assets/fonts/neue-machina/neue-machina-bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Machina";
  src: url("assets/fonts/neue-machina/neue-machina-light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
