@font-face {
  font-family: "Neue Machina";
  src: local("Neue Machina Black"), local("NeueMachina-Black"),
    url("assets/fonts/neue-machina/NeueMachina-Black.woff2") format("woff2"),
    url("assets/fonts/neue-machina/NeueMachina-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Machina";
  src: local("Neue Machina Medium"), local("NeueMachina-Medium"),
    url("assets/fonts/neue-machina/NeueMachina-Medium.woff2") format("woff2"),
    url("assets/fonts/neue-machina/NeueMachina-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Machina";
  src: local("Neue Machina Ultralight"), local("NeueMachina-Ultralight"),
    url("assets/fonts/neue-machina/NeueMachina-Ultralight.woff2")
      format("woff2"),
    url("assets/fonts/neue-machina/NeueMachina-Ultralight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Machina";
  src: local("Neue Machina Bold"), local("NeueMachina-Bold"),
    url("assets/fonts/neue-machina/NeueMachina-Bold.woff2") format("woff2"),
    url("assets/fonts/neue-machina/NeueMachina-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Machina";
  src: local("Neue Machina Light"), local("NeueMachina-Light"),
    url("assets/fonts/neue-machina/NeueMachina-Light.woff2") format("woff2"),
    url("assets/fonts/neue-machina/NeueMachina-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Machina";
  src: local("Neue Machina Ultrabold"), local("NeueMachina-Ultrabold"),
    url("assets/fonts/neue-machina/NeueMachina-Ultrabold.woff2") format("woff2"),
    url("assets/fonts/neue-machina/NeueMachina-Ultrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Machina";
  src: local("Neue Machina Regular"), local("NeueMachina-Regular"),
    url("assets/fonts/neue-machina/NeueMachina-Regular.woff2") format("woff2"),
    url("assets/fonts/neue-machina/NeueMachina-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
